:root {
  --bg: #25262a;
  --sbg: #2b2c30;
  --txt: #dadada;

  --cyan: #63ffd0;
  --blue: #6398ff;
  --red: #ff6363;
  --orange: #ff9b63;
  --lime: #8bff63;
  --yellow: #ffef63;
}

.cyan {
  color: var(--cyan);
}

.cyanBG {
  background: var(--cyan);
}

.blue {
  color: var(--blue);
}

.blueBG {
  background: var(--blue);
}

.red {
  color: var(--red);
}

.redBG {
  background: var(--red);
}

.orange {
  color: var(--orange);
}

.orangeBG {
  background: var(--orange);
}

.lime {
  color: var(--lime);
}

.limeBG {
  background: var(--lime);
}

.yellow {
  color: var(--yellow);
}

.yellowBG {
  background: var(--yellow);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--txt);
  padding: 2%;
}

header {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 5.5rem;
  span {
    font-weight: 200;
  }
  background: linear-gradient(to right, var(--red), var(--orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  $cardSize: 25rem;
  width: 100%;
  min-height: 400px;
  margin: 4rem 0rem;

  // Grid
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardSize);
  gap: 5rem;

  .card {
    position: relative;
    background: var(--sbg);
    width: $cardSize;
    height: $cardSize;
    border-radius: 0.5rem;
    padding: 1.5rem;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @keyframes come {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: come 500ms ease 200ms 1 forwards;

    .type {
      min-width: 4.5rem;
      min-height: 4.5rem;
      background: red;
      border-radius: 999px;
      border: 8px solid var(--sbg);
      background: var(--bg);

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0rem 1.5rem;

      position: absolute;
      top: -2.5rem;
      right: 2rem;

      i {
        font-size: 1.8rem;
      }

      p {
        font-family: "Poppins";
        font-weight: 600;
      }
    }

    .pill {
      //width: 10rem;
      width: fit-content;
      height: 4rem;
      background: var(--bg);
      border-radius: 999px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      padding: 0rem 2rem 0rem 1rem;

      i {
        font-size: 2.2rem;
      }

      .pill-txt {
        font-family: "Poppins";
        font-size: 1.8rem;
        //outline: 1px solid white;
        font-weight: 300;

        span {
          margin-left: 0.2rem;
          font-size: 1.5rem;
          font-weight: 200;
          color: var(--txt);
        }
      }
    }

    .load {
      font-size: 7.5rem;
      font-family: "productSans";
      font-weight: 900;

      span {
        font-size: 2.5rem;
        color: var(--txt);
      }
    }

    .pillDown {
      //width: 10rem;
      width: fit-content;
      height: 4rem;
      background: var(--bg);
      border-radius: 999px;
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      padding: 0rem 1rem 0rem 2rem;

      .pillDown-txt {
        font-family: "productSans";
        font-weight: 900;
        font-size: 2rem;
        //outline: 1px solid white;
        height: 2.5rem;

        span {
          margin-left: 0.4rem;
          font-size: 1.2rem;
          color: var(--txt);
        }
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }

      img {
        width: 3rem;
        height: 3rem;
      }

      i {
        font-size: 2.2rem;
      }
    }
  }
}

.hideSettings {
  transform: translateX(100%);
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: var(--sbg);
  padding: 1rem;
  border-left: 10px solid var(--bg);
  font-family: "Poppins";
  transition: transform 500ms ease;

  .openSettings {
    position: absolute;
    bottom: 0;
    left: -8rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    z-index: 99;
    background: none;
    border: none;
    color: var(--txt);
    cursor: pointer;
    transition: transform 400ms ease;

    i {
      transition: color 400ms;
    }

    &:hover {
      transform: scale(1.2) rotate(180deg);
      i {
        color: var(--blue);
      }
    }
  }

  .settings-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 0.5rem 2rem;
      border-radius: 999px;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.2rem;
      color: var(--red);
      border: 2px solid var(--red);
      background: transparent;
      transition: 300ms color, 300ms background;
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        background: var(--red);
        color: white;
      }
    }
  }

  .sContainer {
    overflow-y: auto;

    height: calc(100vh - 6rem);
    margin-top: 1rem;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.226);
      border-radius: 999px;
      size: 2px;
    }
  }

  h2 {
    margin-top: 3rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  label {
    font-size: 1.5rem;
  }

  input {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }

  .colorPicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    button {
      position: relative;
      width: 5rem;
      height: 5rem;
      border: none;
      border-radius: 10px;
    }

    .active::after {
      position: absolute;
      content: "✔";
      font-family: "Poppins";
      font-weight: 500;
      font-size: 2rem;
      inset: 0;
      display: grid;
      place-content: center;
      background: rgba(0, 0, 0, 0.459);
      color: white;
    }
  }
}
