:root {
  --bg: #25262a;
  --sbg: #2b2c30;
  --txt: #dadada;

  --cyan: #63ffd0;
  --blue: #6398ff;
  --red: #ff6363;
  --orange: #ff9b63;
  --lime: #8bff63;
  --yellow: #ffef63;
}

.cyan {
  color: var(--cyan);
}

.cyanBG {
  background: var(--cyan);
}

.blue {
  color: var(--blue);
}

.blueBG {
  background: var(--blue);
}

.red {
  color: var(--red);
}

.redBG {
  background: var(--red);
}

.orange {
  color: var(--orange);
}

.orangeBG {
  background: var(--orange);
}

.lime {
  color: var(--lime);
}

.limeBG {
  background: var(--lime);
}

.yellow {
  color: var(--yellow);
}

.yellowBG {
  background: var(--yellow);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.warning {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(#ff002225, #ff00228e);
    border-radius: 10px;
    z-index: 0;
    animation: blink 3000ms ease 0ms infinite;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg);
  color: var(--txt);
  padding: 2%;
}

header {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12vmin;
  padding-bottom: 6vmin;
  span {
    font-weight: 200;
  }
  background: linear-gradient(to right, var(--red), var(--orange));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hide {
  display: none;
}

.container {
  $cardSize: 42vmin;
  width: 100%;
  //min-height: 400px;
  margin: 2vmin 0rem;

  // Grid
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardSize + 4vmin);
  gap: 7vmin;

  .card {
    position: relative;
    background: var(--sbg);
    width: $cardSize + 4vmin;
    height: $cardSize;
    border-radius: 0.5rem;
    padding: 3vmin;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @keyframes come {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: come 500ms ease 200ms 1 forwards;

    .type {
      border-radius: 999px;
      border: 1vmin solid var(--sbg);
      background: var(--bg);

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 1.2vmin 3vmin;
      z-index: 2;

      position: absolute;
      top: -4vmin;
      right: 3vmin;

      i {
        font-size: 3.8vmin;
      }

      p {
        font-size: 2vmin;
        font-family: "Poppins";
        font-weight: 600;
      }
    }

    .pill {
      //width: 10rem;
      z-index: 2;
      width: fit-content;
      height: 4vmin;
      background: var(--bg);
      border-radius: 999px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.2rem;
      padding: 4.5vmin 4vmin;
      padding-left: 3vmin;

      i {
        font-size: 5.3vmin;
      }

      .pill-txt {
        font-family: "Poppins";
        font-size: 5.3vmin;
        //outline: 1px solid white;
        font-weight: 300;

        span {
          margin-left: 0.5vmin;
          font-size: 3.6vmin;
          font-weight: 200;
          color: var(--txt);
        }
      }
    }

    .load {
      z-index: 2;
      font-size: 14vmin;
      font-family: "productSans";
      font-weight: 900;

      span {
        font-size: 4vmin;
        color: var(--txt);
      }
    }

    .loadClock {
      font-size: 12vmin;
      span {
        font-size: 3vmin;
      }
    }

    .pillDown {
      z-index: 2;
      //width: 10rem;
      width: fit-content;
      height: 4vmin;
      background: var(--bg);
      border-radius: 999px;
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      align-items: center;
      gap: 1.8vmin;
      padding: 4vmin 2vmin;
      padding-left: 4vmin;

      .pillDown-txt {
        font-family: "productSans";
        font-weight: 900;
        font-size: 4vmin;
        //outline: 1px solid white;
        height: 5.1vmin;

        span {
          margin-left: 1vmin;
          font-size: 2.5vmin;
          color: var(--txt);
        }
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }

      img {
        width: 6vmin;
        height: 6vmin;
      }

      i {
        font-size: 4.5vmin;
      }
    }
  }
}

.hideSettings {
  transform: translateX(100%);
}

.settings {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: var(--sbg);
  padding: 1rem;
  border-left: 10px solid var(--bg);
  font-family: "Poppins";
  transition: transform 500ms ease;

  .openSettings {
    position: absolute;
    bottom: 0;
    left: -5.1rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 99;
    background: none;
    border: none;
    color: var(--txt);
    cursor: pointer;
    transition: transform 400ms ease, opacity 400ms;
    opacity: 0.3;

    i {
      transition: color 400ms;
    }

    &:hover {
      opacity: 1;
      transform: scale(1.2) rotate(180deg);
      i {
        color: var(--blue);
      }
    }
  }

  .settings-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 0.5rem 2rem;
      border-radius: 999px;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 1.2rem;
      color: var(--red);
      border: 2px solid var(--red);
      background: transparent;
      transition: 300ms color, 300ms background;
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        background: var(--red);
        color: white;
      }
    }
  }

  .sContainer {
    overflow-y: auto;

    height: calc(100vh - 6rem);
    margin-top: 1rem;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.226);
      border-radius: 999px;
      size: 2px;
    }
  }

  h2 {
    font-size: 6vmin;
    margin-top: 8vmin;
    margin-bottom: 3vmin;
  }

  h3 {
    font-size: 5vmin;
    margin-top: 8vmin;
    margin-bottom: 5vmin;
  }

  label {
    font-size: 5.5vmin;
  }

  input {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }

  .colorPicker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    button {
      position: relative;
      width: 20vmin;
      height: 20vmin;
      border: none;
      border-radius: 10px;
    }

    .active::after {
      position: absolute;
      content: "✔";
      font-family: "Poppins";
      font-weight: 500;
      font-size: 6vmin;
      inset: 0;
      display: grid;
      place-content: center;
      background: rgba(0, 0, 0, 0.459);
      color: white;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  header {
    margin: 1rem;
    margin-bottom: 0rem;
    width: calc(100% - 2rem);
  }
  .container {
    $cardSize: 100%;
    width: calc(100% - 2rem);
    //min-height: 400px;
    margin: 1rem;
    margin-top: 1rem;

    // Grid
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 7vmin;

    .card {
      height: 45vmin;
      width: 100%;
      padding: 1rem;

      .type {
        border: 1vmin solid var(--sbg);

        gap: 0.5rem;
        padding: 1.2vmin 3vmin;

        position: absolute;
        top: -4vmin;
        right: 3vmin;

        i {
          font-size: 4.5vmin;
        }

        p {
          font-size: 2.8vmin;
          font-family: "Poppins";
          font-weight: 600;
        }
      }
    }
  }

  .settings {
    position: absolute;
    width: 90vw;
    height: auto;
    .openSettings {
      display: none;
    }
    .settings-head {
      font-size: 4.2vmin;
      button {
        display: none;
      }
    }

    .sContainer {
      height: auto;
    }
  }
}
